
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}
/*header*/
.header {
    background-image: url('./img/breadcrumb-bg1.png');
    background-size: cover;
    background-position: center;
    height: 385px;
    position: relative;
    width: 100%;
}

.header-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

.header h1 {
    font-size: 50px;
    margin-top: 0;
    padding-top: 120px;
}

.logo {
    margin-top: 20px;
    width: 20%;
    position: relative;
}

.logoPage {
    width: 100%;
    position: absolute;
    color: #ffff;
    font-size: 54px;
    font-weight: 500;
    font-family: "Inknut Antiqua";
    top: 30%;
    left: 40%;
}

.navbar {
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.menu li {}

.menu li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.dropdown {
    display: inline-block;
}

.dropdown-content li {
    list-style-type: none;
}

.dropdown-content {
    display: none;
    padding: 0;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: #ff7f50;
}

.menu li a:hover,
.dropdown:hover .dropbtn {
    color: #ff7f50;
}
.acc-search,
.acc-cart,
.acc-user {
    width: 36px;
    height: 35px;
    /* margin-left: 12px; */
    padding: 0 8px;
}

.acc {
    display: flex;
    width: 20%;
}

/*footer*/
